<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.iosd.gemselections">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.Camera"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tech.iosd.gemselections.MainContent.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.iosd.gemselections.MainContent.FAQsActivity"
            android:label="Frequently Asked Questions"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Rudraksha.Rudraksha"
            android:label="@string/title_activity_rudraksha"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Ittar.Ittar"
            android:label="Ittar"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Handicrafts.Handicrafts"
            android:label="@string/title_activity_handicrafts"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>

        <receiver android:name="tech.iosd.gemselections.Utils.InternetConnectivity">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="tech.iosd.gemselections.AuthRelated.LoginActivity"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.AuthRelated.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tech.iosd.gemselections.AuthRelated.ForgetPassActivity"
            android:label="Forget Password" />
        <activity
            android:name="tech.iosd.gemselections.Utils.WebViewActivity"
            android:theme="@style/NeelamTheme" />
        <activity
            android:name="tech.iosd.gemselections.MoongaActivity"
            android:label="Red Coral"
            android:theme="@style/CoralTheme"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Emerald"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/EmeraldTheme"
            android:name="tech.iosd.gemselections.Emerald.EmeraldActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Ruby"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/RubyTheme"
            android:name="tech.iosd.gemselections.Ruby.RubyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Neelam"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:theme="@style/NeelamTheme"
            android:name="tech.iosd.gemselections.Neelam.NeelamActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Pukhraj"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:name="tech.iosd.gemselections.Pukhraj.PukhrajActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Gomed"
            android:theme="@style/GomedTheme"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:name="tech.iosd.gemselections.Gomed.GomedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:label="Cat\'s Eye"
            android:theme="@style/EmeraldTheme"
            android:parentActivityName="tech.iosd.gemselections.MainContent.MainActivity"
            android:name="tech.iosd.gemselections.Lehsunia.LehsuniaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".JewelleryAlpha.JewelleryAlpha"
            android:label="Jewellery"
            android:parentActivityName=".MainContent.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainContent.MainActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name=".JewelleryAlpha.DesignOwn.DesignOwnActivity"
            android:label="Design You Own Jewellery!"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Victorian.VictorianActivity"
            android:label="Victorian Jewellery"
            android:theme="@style/AppTheme"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>

        <activity android:name=".JewelleryAlpha.Diamond.DiamondActivity"
            android:label="Diamond Jewellery"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />

        </activity>
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedActivity"
            android:label="Gem Studded Jewellery"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />

        </activity>


        <activity android:name=".JewelleryAlpha.Diamond.DiamondSets"
            android:label="Diamond Sets"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondPendants"
            android:label="Diamond Pendants"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondTops"
            android:label="Diamond Tops"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondRings"
            android:label="Diamond Rings"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondBracelets"
            android:label="Diamond Bracelets"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondNosePin"
            android:label="Diamond Nose Pins"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity android:name=".JewelleryAlpha.Diamond.DiamondStuds"
            android:label="Diamond Studded Jewellery"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedSets"
            android:label="Gem Studded Sets"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />

        </activity>
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedPendants"
            android:label="Gem Studded Pendants"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />

        </activity>
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedTops"
            android:label="Gem Studded Tops"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />

        </activity>
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedRings"
            android:label="Gem Studded Rings"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />

        </activity>
        <activity android:name=".JewelleryAlpha.GemStudded.GemStuddedBracelet"
            android:label="Gem Studded Bracelets"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />

        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>