<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.iosd.gemselections"
    android:installLocation="auto">

    <uses-sdk
        android:maxSdkVersion="26"
        android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.Camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="tech.iosd.gemselections.Utils.AirShipAutoPilot"
            android:value="tech.iosd.gemselections.Utils.AirShipAutoPilot" />

        <provider
            android:name=".DataProviders.MyFileProvider"
            android:authorities="tech.iosd.gemselections.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainContent.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainContent.FAQsActivity"
            android:label="Frequently Asked Questions"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Rudraksha.Rudraksha"
            android:label="@string/title_activity_rudraksha"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Ittar.Ittar"
            android:label="Khanna Perfumeries"
            android:parentActivityName=".MainContent.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Handicrafts.Handicrafts"
            android:label="@string/title_activity_handicrafts"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>

        <receiver android:name=".Utils.InternetConnectivity">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AuthRelated.LoginActivity"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".AuthRelated.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuthRelated.ForgetPassActivity"
            android:label="Forget Password" />
        <activity
            android:name=".Utils.WebViewActivity"
            android:theme="@style/NeelamTheme" />
        <activity
            android:name=".MoongaActivity"
            android:label="Red Coral"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/CoralTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Emerald.EmeraldActivity"
            android:label="Emerald"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/EmeraldTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Ruby.RubyActivity"
            android:label="Ruby"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/RubyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Neelam.NeelamActivity"
            android:label="Neelam"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/NeelamTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Pukhraj.PukhrajActivity"
            android:label="Pukhraj"
            android:parentActivityName=".MainContent.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Gomed.GomedActivity"
            android:label="Gomed"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/GomedTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Lehsunia.LehsuniaActivity"
            android:label="Cat\&apos;s Eye"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/EmeraldTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.JewelleryAlpha"
            android:label="Jewellery"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.DesignOwn.DesignOwnActivity"
            android:label="Design Your Own Jewellery!"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Victorian.VictorianActivity"
            android:label="Victorian Jewellery"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondActivity"
            android:label="Diamond Jewellery"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedActivity"
            android:label="Gem Studded Jewellery"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.JewelleryAlpha" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondSets"
            android:label="Diamond Sets"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondPendants"
            android:label="Diamond Pendants"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondTops"
            android:label="Diamond Tops"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondRings"
            android:label="Diamond Rings"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondBracelets"
            android:label="Diamond Bracelets"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondNosePin"
            android:label="Diamond Nose Pins"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.Diamond.DiamondStuds"
            android:label="Diamond Studded Jewellery"
            android:parentActivityName=".JewelleryAlpha.Diamond.DiamondActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.Diamond.DiamondActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedSets"
            android:label="Gem Studded Sets"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedPendants"
            android:label="Gem Studded Pendants"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedTops"
            android:label="Gem Studded Tops"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedRings"
            android:label="Gem Studded Rings"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />
        </activity>
        <activity
            android:name=".JewelleryAlpha.GemStudded.GemStuddedBracelet"
            android:label="Gem Studded Bracelets"
            android:parentActivityName=".JewelleryAlpha.GemStudded.GemStuddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JewelleryAlpha.GemStudded.GemStuddedActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainContent.ActivityForDiamonds" />
        <activity
            android:name=".Pukhraj.HaraPukhraj"
            android:label="Green Sapphire"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/HaraPukhrajTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Pukhraj.BainganiPukhraj"
            android:label="Purple Sapphire"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/BainganiPukhrajTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Pukhraj.GulabiPukhraj"
            android:label="Pink Sapphire"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/BainganiPukhrajTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".SemiPreciousGems.MotiActivity"
            android:label="Pearl"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Pukhraj.PitambariNeelam"
            android:label="Pitambari Neelam"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/NeelamTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>
        <activity
            android:name=".Pukhraj.SafedPukhraj"
            android:label="White Sapphire"
            android:parentActivityName=".MainContent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainContent.MainActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainContent.ReturnPolicyActivity"
            android:label="Return Policy"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainContent.FaqIntentActivity" />
        <activity
            android:name=".MainContent.NewWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JewelleryAlpha.DiamondStudded.DiamondStudded"
            android:label="Diamond Studded"
            android:parentActivityName=".JewelleryAlpha.JewelleryAlpha"
            android:theme="@style/AppTheme.Base1" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Utils.SampleAirshipReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.DISMISSED" />
                <action android:name="com.urbanairship.push.RECEIVED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PaytmActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".MainContent.AstrologyActivity" />
        <activity android:name=".MainContent.WesternAstrologyActivity" />
        <activity android:name=".MainContent.MatchMakingActivity" />
        <activity android:name=".MainContent.DailyHoroscopeActivity" />
        <activity android:name=".MainContent.PdfHoroscopeActivity" />
        <activity android:name=".MainContent.IndianAstrologyActivity" />
        <activity android:name=".abhimantrit.Panna" />
        <activity android:name=".MainContent.MyAccountActivity"
            android:label="My Account"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rudraksha.YoutubeDialogActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            >
        </activity>
    </application>

</manifest>