<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.iosd.gemselections">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tech.iosd.gemselections.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.iosd.gemselections.FAQsActivity"
            android:label="Frequently Asked Questions"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"/>
        <activity
            android:name="tech.iosd.gemselections.Rudraksha.Rudraksha"
            android:label="@string/title_activity_rudraksha"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Ittar.Ittar"
            android:label="Ittar"
            android:parentActivityName="tech.iosd.gemselections.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Handicrafts.Handicrafts"
            android:label="@string/title_activity_handicrafts"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.Jewellery.Jewellery"
            android:label="@string/title_activity_jewellery"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>

        <receiver android:name="tech.iosd.gemselections.InternetConnectivity">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="tech.iosd.gemselections.AuthRelated.LoginActivity"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:name="tech.iosd.gemselections.AuthRelated.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tech.iosd.gemselections.AuthRelated.ForgetPassActivity"
            android:label="Forget Password" />
        <activity
            android:name="tech.iosd.gemselections.WebViewActivity"
            android:theme="@style/NeelamTheme" />
        <activity
            android:name="tech.iosd.gemselections.MoongaActivity"
            android:label="Red Coral"
            android:theme="@style/CoralTheme"
            android:parentActivityName="tech.iosd.gemselections.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Emerald"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/EmeraldTheme"
            android:name="tech.iosd.gemselections.Emerald.EmeraldActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Ruby"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/RubyTheme"
            android:name="tech.iosd.gemselections.Ruby.RubyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Neelam"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:theme="@style/NeelamTheme"
            android:name="tech.iosd.gemselections.Neelam.NeelamActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Pukhraj"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:name="tech.iosd.gemselections.Pukhraj.PukhrajActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Gomed"
            android:theme="@style/GomedTheme"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:name="tech.iosd.gemselections.Gomed.GomedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
        <activity
            android:label="Cat\'s Eye"
            android:theme="@style/EmeraldTheme"
            android:parentActivityName="tech.iosd.gemselections.MainActivity"
            android:name="tech.iosd.gemselections.Lehsunia.LehsuniaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tech.iosd.gemselections.MainActivity" />
        </activity>
    </application>

</manifest>